#visage {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: rgb(239,253,254) 4px solid;
    border-radius: 100%;
    background-size: cover;
}
#contourVisage {
    border-radius: 100%;
    width: 175px;
    height: 175px;
    border: rgb(8,124,156) 7px solid; 
    float: left;
}
#CSharp {
    height: 100px;
    width: 180px;
    background-size: cover;
    float: left;
    margin-right: 10px;
    background-image: url(../images/CSharp.png)
}
#math {
    height: 210px;
    width: 300px;
    background-size: cover;
    float: left;
    margin-right: 10px;
    background-image: url(../images/math.jpg)
}